.form_control{
    font-size: inherit;
}

.form_control.error input,
.form_control.error textarea{
    border: 1px solid red;
}

.form_control.error span{
    color: #ff7700;
    margin-left: 10px;
    font-size: 12px;
    font-style: italic;
}
.formSummaryError{
    border: 1px solid red;
    padding: 6px;
    color: Red;
}