.main_picture{
    background: url('https://i.pinimg.com/736x/4f/8d/b7/4f8db7aeee06fb172ee34a023f530acb.jpg');
    height: 120px;
    width: 100%;
}
.content{
    grid-area: m;
    background-color: cornflowerblue;
    position: relative;
}

.padd{
    /* паддинги */
    padding: 15px;
}
.profile_info_container{
    display: flex;
    flex-direction: row;
}
.ava{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.ava input{
    margin-top: 20px;
    max-width: 100%;

    background: #4b6684;
    color: white;
    font-size: 11px;
    border: none;
}
.ava_img{
    width: 200px;
    height: 200px;
    border-radius: 4px;
}
.fullName{
    display: inline;
}
strong{
    margin-right: 10px;
}
.profile_info_section{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.socials{
    border: 1px solid #4b6684;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}
.social_link{
    color: #241915;
    padding: 5px;
    text-decoration: none;
    background-color: transparent;
    transition: .5s;
    text-transform: uppercase;
    border-radius: 2px;
}
.social_link:hover{
    background-color: #4b6684;
    color: white;
    cursor: pointer;
}